body{
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: helvetica;
  opacity: 0.9;
  text-align: center;
}

/* header and navigation */

.header{
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  width: 100%;
  margin-top: -8px;
  z-index: 1;
  background-color: black;
}
.navbar{
  display: flex;
  justify-content: space-around;
  flex-basis: 400px;
  text-decoration: underline;
  flex-shrink: 2;
  flex-wrap: wrap;
}
.logo{
  height: 50px;
  margin-left: 10px;
}

/* main body display */

.mainbody{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* mission image and statement - first containers */

.topcontainer{
  background-image: url("../mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
  top: 61px;
}
.mission{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 1200px;
}
.bottommission{
  margin-top: -10px;
}

/* tea of the month - middle section */

.middlecontainer{
  width: 1000px;
  height: 700px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middescription{
  margin-top: -15px;
}
.topimagecontainer{
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
.middleimagetop{
  height: 200px;
  width: 300px;
}
.bottomimagecontainer{
  display: flex;
  justify-content: center;
  width: 1000px;
}
.myrtle{
  margin-right: 40px;
}
.middleimagebottom{
  height: 200px;
  width: 300px;
}
.image-description{
  margin-top: 10px;
}

/* locations section */

.bottomcontainer{
  background-image: url("../locations-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address-containers{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomleft,.bottommiddle,.bottomright{
  opacity: 1;
  background-color: black;
  width: 300px;
  height: 250px;
  display:flex;
  flex-direction: column;
  align-items: space-around;
  margin: 0px 20px;
}
.locations-heading{
  margin-bottom: 15px;
}

/* contacts section */

.contact{
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: space-around;
  margin-top: 20px;
}

/* copyright section */

.copyright{
  margin-left: 20px;
  margin-top: 20px;
  align-self: flex-start;
}
